<table class="gtasktable">
  <tbody>
  {{#each descriptions}}
    <tr class="{{rowClass}}" style="display: {{display}}" id="{{id}}">
      <td class="gtasklist">&nbsp;</td>
      <td class="gtaskname">
        <div class="{{cssClass}}">{{{text}}}</div>
      </td>
        {{#each description}}
          <td class="{{cssClass}}">
            <div>{{text}}</div>
          </td>
        {{/each}}
    </tr>
    <tr>
      <td class="gtasklist">&nbsp;</td>
      <td class="gspanning gtaskname">
        <div class="gselector"></div>
      </td>
      <td class="gspanning gresource">&nbsp;</td>
      <td class="gspanning gduration">&nbsp;</td>
      <td class="gspanning gpccomplete">&nbsp;</td>
      <td class="gspanning gstartdate">&nbsp;</td>
      <td class="gspanning genddate">&nbsp;</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<!-- Add some white space so the vertical scroll distance should always be greater
    than for the right pane (keep to a minimum as it is seen in unconstrained height designs) -->
<br>
<br/>